<div class = "nested-fields input-group mb-3">
    <%= f.select :book_id,
        options_from_collection_for_select(@books, :id, :name, f.object.id ),
        {include_blank: t("select_none")},
        class: "form-control myoption" %>
    <div class = "mx-1" >
        <%= link_to_remove_association t(".btn_remove_book"), f,
            class: "btn btn-danger btn-sm" %>
    </div>
</div>
