<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <%= link_to image_tag("logo.svg", atl: "Logo", height: "40px"), root_path, class:"navbar-brand" %>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><%= link_to t(".home"), root_path, class: "nav-link" %></li>
                <li class="nav-item"><%= link_to "2", "#", class: "nav-link" %></li>
            </ul>
        </div>
    </div>
</nav>
